---

/**
 * Defines the shape of the data prop passed to the Astro component.
 *
 * @property {string} title - The title of the accordion item.
 * @property {string} content - The content of the accordion item. String, but you can also send an object if you want to have a more complex structure inside the accordion.
 * @property {string} [name] - An optional name for the accordion item.If not provided, the accordion items will not have autoclose functionality.
 */

interface Props {
  data: Array<{
    title: string;
    content: string;
    name?: string;
  }>;
}
const { data } = Astro.props
---

<div
    class="border mb-12 border-gray-300 divide-y divide-gray-300 dark:border-zinc-800 dark:divide-zinc-800 rounded-lg max-w-3xl shadow-sm dark:shadow-none ">
    {
        data.map((item) => (
            <details
                class="group"
                open={false} name={item.name}>
                <summary
                    class="flex items-center justify-between px-4 py-4 cursor-pointer text-zinc-900 dark:text-zinc-300 bg-gray-100 rounded-lg dark:bg-zinc-950 dark:group-open:bg-zinc-900 group-open:bg-gray-200 focus:outline-2 outline-gray-600 dark:outline-zinc-500"
                    
                    
                    tabindex="0">
                    <h3 class="text-base md:text-lg font-medium ">
                        {item.title}
                    </h3>
                    <svg
                        class="w-5 h-5 shrink-0 motion-safe:transition duration-300 group-open:-rotate-180"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M19 9l-7 7-7-7"
                        />
                    </svg>
                </summary>

                <section class="px-6 text-start text-base py-4 md:py-5 bg-gray-100 dark:bg-zinc-950 ">
                    {item.content}
                </section>
            </details>
        ))
    }
</div>
