---
import { ViewTransitions } from "astro:transitions";

import Navigation from "../components/Navigation.astro";
import "@fontsource-variable/inter";
import "@fontsource-variable/figtree";
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
import "../styles/global.css";
interface Props {
  title: string;
  description?: string;
  currentSlug?: string;
  keywords?: string;
  skipLinkId?: string;
}

const { title, description, keywords, currentSlug, skipLinkId } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />
    <meta name="author" content="Ravi Shankar" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="canonical" href={canonicalURL} />  
    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="https://ravixui.com/favicon.png" />
    <meta property="og:image:alt" content="ravixUI" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@ravix_ui" />
    <meta name="twitter:title" content="ravixUI" />
    <meta name="twitter:description" content="ravixUI is an accessible UI component starter kit for Astrojs based on Tailwind." />
    <meta name="twitter:image" content="https://ravixui.com/favicon.png" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <script is:inline>
      document.addEventListener("astro:page-load", () => {
        if (
          localStorage.theme === "dark" ||
          (!("theme" in localStorage) &&
            window.matchMedia("(prefers-color-scheme: dark)").matches)
        ) {
          document.documentElement.classList.add("dark");
        }
      });
      document.addEventListener("astro:before-swap", (ev) => {
        if (
          localStorage.theme === "dark" ||
          (!("theme" in localStorage) &&
            window.matchMedia("(prefers-color-scheme: dark)").matches)
        ) {
          ev.newDocument.documentElement.classList.add("dark");
        }
      });
      if (
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>

    <ViewTransitions fallback="animate" />
  </head>
  <body
    class="z-0 bg-gray-100 bg-fixed text-zinc-950 dark:bg-zinc-950 dark:text-zinc-200"
  >
    <main class="relative z-0">
      {
        skipLinkId && (
          <a
            class="fixed left-2 top-3 -z-[9999] rounded-md bg-indigo-400 px-4 py-2 text-xl font-medium text-black opacity-0 focus:z-[9999] focus:opacity-100 dark:bg-indigo-800 dark:text-white"
            href={`#${skipLinkId}`}
          >
            Skip to main content
          </a>
        )
      }
      <Navigation currentSlug={currentSlug} />
      <slot />
    </main>
  </body>
</html>
