---
import { ViewTransitions } from "astro:transitions";
import Navigation from "../components/Navigation.astro";
import '@fontsource-variable/inter';
import '@fontsource-variable/figtree';

import "../styles/global.css";
interface Props {
  title: string;
  description?: string;
  currentSlug?: string;
  keywords?: string;
  skipLinkId?: string;
}

const { title,  description, keywords, currentSlug, skipLinkId } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />
    <meta name="author" content="Ravi Shankar" />
    <meta property="og:site_name" content="Ravi Shankar" />
    <meta name="viewport" content="width=device-width" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="canonical" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <script is:inline>
      document.addEventListener("astro:page-load", () => {
        if (
          localStorage.theme === "dark" ||
          (!("theme" in localStorage) &&
            window.matchMedia("(prefers-color-scheme: dark)").matches)
        ) {
          document.documentElement.classList.add("dark");
        }
      });
      document.addEventListener("astro:before-swap", (ev) => {
        if (
          localStorage.theme === "dark" ||
          (!("theme" in localStorage) &&
            window.matchMedia("(prefers-color-scheme: dark)").matches)
        ) {
          ev.newDocument.documentElement.classList.add("dark");
        }
      });
      if (
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>
    
    <ViewTransitions fallback="animate" />
  </head>
  <body 
    class=" z-0  bg-fixed dark:bg-black bg-white  text-zinc-950 dark:text-zinc-200 "
  >
      <main class=" z-10" >
        {skipLinkId && <a class=" -z-[9999] focus:z-[9999] fixed top-3 left-2 opacity-0  focus:opacity-100 bg-indigo-400 text-black dark:text-white dark:bg-indigo-800 px-4 py-2 rounded-md text-xl font-medium" href={`#${skipLinkId}`}>Skip to main content</a>}
      <Navigation  currentSlug={currentSlug}  />
      <slot />
    </main>
  </body>
</html>
